*,
body,
::before,
::after,
html {
    margin: 0;
    padding: 0;
    font-family: "Megrim", cursive;
    scroll-behavior: smooth;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    background: url("../resources/CyberpunkDALLE5.png") no-repeat center center
        fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.App {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
}
/* intro */
.introContainer {
    overflow: hidden;
    display: flex;
}

.introContent {
    display: flex;
    width: 100%;
}
.introContentInner {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    font-weight: 800;
    position: relative;
    color: #fff;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh !important;
}
.introText {
    font-size: 1.6rem;
}
.introText:nth-child(1) {
    color: #55d2ea;
}
.introContent div,
.introLink {
    height: fit-content;
}
.introLink {
    padding: 7px;
    border-radius: 12px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 800;
    border: none;
    width: fit-content;
    align-self: center;
}
/* Nav Intro */
.navIntroContent {
    background: rgba(0, 0, 0, 0.7);
}
.navIntroContentInner {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    font-weight: 800;
    align-items: center;
}
.MuiBreadcrumbs-li:hover {
    transform: scale(1.1);
}
/* Projects */
.projectOuter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 90px);
}
.MuiCardHeader-root,
.css-185gdzj-MuiCardHeader-root {
    padding: 4px !important;
}
.popLink,
.popLink:visited {
    font-family: "Nunito", sans-serif;
    color: black;
}
.typoDescription {
    max-height: 100px;
    overflow-y: scroll;
}
/* Skills */
.skillsCard {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: rgba(255, 255, 255, 1);
    gap: 10px;
    /* padding: 30px; */
    padding: 4px 30px;
    color: black;
    width: 70%;
    margin: 0 auto;
    font-size: 1.6rem;
    font-weight: 800;
    border-radius: 12px;
}

.skillsContainer {
    max-width: 750px;
    height: calc(100vh - 90px);
    display: flex;
    align-items: center;
    margin: -20px auto;
}
.skills {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
}
.skills ul li {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}
.frontend,
.backend,
.database {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.skillsImg {
    display: flex;
    justify-content: center;
    align-self: center;
}
.skillsImg img {
    height: 40px;
}
.dbImg img {
    height: 75px;
}
/* Contact */
.contactContainer {
    height: calc(100vh - 90px);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.contactInner {
    max-width: 600px;
    background: white;
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    align-content: center;
    align-self: center;
    align-items: center;
    padding: 12px;
    border-radius: 12px;
    max-height: 80%;
}

.bio {
    font-family: "Nunito", sans-serif;
    padding: 0px 0px 0px 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 92%;
}
.shared {
    font-family: "Nunito", sans-serif;
    -webkit-touch-callout: all;
    -webkit-user-select: all;
    -khtml-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}
.contactName {
    color: black;
    font-size: 1.1rem;
    font-weight: 400;
}
.standout {
    background: orange;
}
.buttonMimick {
    padding: 5px 15px;
    border: none;
    background-color: white;
    color: #1976d2;

    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 800;
    border-radius: 4px;
}
.MuiSnackbarContent-message {
    font-family: "Nunito", sans-serif;
}
.pagStack {
    padding: 10px 0px !important;
}
/* Media Queries */
@media only screen and (max-height: 1000px) {
    .projectOuter {
        margin-top: -30px;
    }
}
@media only screen and (max-height: 615px) {
    .MuiTypography-root {
        max-height: 70px;
    }
    .css-46bh2p-MuiCardContent-root:last-child {
        padding: 10px !important;
    }
}
@media (min-width: 601px) {
    .css-cuefkz-MuiContainer-root {
        /* width: 60vw !important; */
        max-width: 1000px !important;
        max-height: 850px !important;
        height: 65vh !important;
    }
    .pagStack {
        width: 60vw !important;
        max-width: 1000px !important;
    }
    .MuiCardMedia-root {
        min-height: 35vh !important;
    }
    .css-1f9epyv {
        max-height: none !important;
    }
    .bio {
        line-height: 150%;
    }
    .MuiPagination-root {
        padding: 4px 4px 6px 4px !important;
    }
}

@media only screen and (min-width: 1000px) {
    .speedDialLoc {
        margin-right: 18vw;
    }
    .bio {
        font-size: 1.2rem;
        word-spacing: 2px;
        line-height: 150%;
        padding: 12px;
    }
    .typoDescription {
        font-size: 1.1rem !important;
    }
}

@media only screen and (min-width: 1337px) {
    .skillsCard {
        min-height: 35vh !important;
        /* width: 60vw !important; */
        max-width: 1000px !important;
        max-height: 850px !important;
        height: 65vh !important;
        justify-content: space-evenly;
    }
    .skillsParagraph {
        font-size: 3rem;
    }
    .skills div {
        font-size: 2rem;
    }
    .skills div ul li {
        font-size: 1.5rem;
    }
    .skillsImg img {
        height: 100px;
    }
}
@media only screen and (min-width: 1500px) {
    .bio {
        font-size: 1.4rem;
        word-spacing: 4px;
        padding: 20px;
    }
    .typoDescription {
        font-size: 1.2rem !important;
    }
}
@media only screen and (min-width: 1900px) {
    .speedDialLoc {
        margin-right: 26vw;
    }
}
@media only screen and (min-width: 2500px) {
    .speedDialLoc {
        margin-right: 30vw;
    }
}
@media only screen and (min-width: 3000px) {
    .speedDialLoc {
        margin-right: 35vw;
    }
}
